<p style="color: green"><%= notice %></p>

<h1>To-Do List</h1>
<!--  <p>Total tasks: <%#= @tasks.count %></p>-->
<div>
  <%= render "form", task: Task.new %>
</div>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>

    <div class="button-group">
      <%= button_to "Edit", edit_task_path(task), method: :get %>
      <%= button_to "Delete", task, method: :delete%>
    </div>
    <br>
  <% end %>
</div>
