<%= form_with(model: pomodoro) do |form| %>
  <% if pomodoro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pomodoro.errors.count, "error") %> prohibited this pomodoro from being saved:</h2>

      <ul>
        <% pomodoro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% pomodoro.tasks.each do |task| %>
      <h5><%= task.description %></h5>
  <% end %>

<div class="form-group">
  <%= form.label :focus_time, class: "form-label mt-4", style: "display: block" %>
  <%= form.number_field :focus_time, class: "form-control", placeholder: "Focus Time" %>
</div>

<div class="form-group">
  <%= form.label :break_time, class: "form-label mt-4", style: "display: block" %>
  <%= form.number_field :break_time, class: "form-control", placeholder: "Break Time" %>
</div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
