<% pomodoro.tasks.each do |task| %>
  <tr id="<%= dom_id pomodoro %>" class="<%= cycle('table-primary', "") %>">
    <td><%= task.description %></td>
    <td><%= pomodoro.focus_time %></td>
    <td><%= pomodoro.break_time %></td>
    <td>
          <div class="btn-group me-2" role="group" aria-label="Second group">
      <%= button_to "Start", timer_pomodoro_path(pomodoro), method: :get, class: "btn btn-primary" %>
      <%= button_to "Edit", edit_pomodoro_path(pomodoro), method: :get, class: "btn btn-primary"%>
      <%= button_to "Delete", pomodoro, method: :delete, class: "btn btn-primary"%>
          </div>
    </td>
  </tr>
<% end %>
