<p style="color: green"><%= notice %></p>

<h1>Pomodoros</h1>

<div>
  <%= render "form", pomodoro: Pomodoro.new(focus_time: 25, break_time: 5) %>
</div>

<div id="pomodoros">
<% @pomodoros.each do |pomodoro| %>
  <%= render pomodoro %>
  <p>
    <%= button_to "Edit", edit_pomodoro_path(pomodoro), method: :get%>
    <%= button_to "Delete", pomodoro, method: :delete%>
<%= button_tag "Start", id: "start_#{pomodoro.id}", data: { focus_time: pomodoro.focus_time, break_time: pomodoro.break_time } %>
<span id="start-#{pomodoro.id}">00:00</span>
  </p>
<% end %>
