<br>
<div class="form-container">

  <h2>Log In</h2>
  
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email", class: 'form-control', placeholder: 'Enter email' }, label_html: { class: 'form-label mt-4' }, label: 'Email address' %>

    <%= f.input :password, required: false, input_html: { autocomplete: "current-password", class: 'form-control', placeholder: 'Password' }, label_html: { class: 'form-label mt-4' }, label: 'Password' %>

    <%= f.input :remember_me, as: :boolean, wrapper_html: { class: 'form-check' }, input_html: { class: 'form-check-input' }, label_html: { class: 'form-check-label' } if devise_mapping.rememberable? %>

    <div class="form-actions">

      <%= f.button :submit, "Sign In", class:"btn btn-primary"%>
    
    </div>

  <% end %>

<br>

<%= render "devise/shared/links" %>

</div>
